body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #595757;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #32445c;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  max-width: 400px;
  margin: 20px auto;
}

li {
  background-color: white;
  margin: 8px;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px black;
  text-align: left;
  transition: transform 0.2s ease;
}

li:hover {
  transform: scale(1);
}
