body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: blanchedalmond;
  color: black;
  padding: 30px;
}

h1 {
  text-align: center;
  color: blue;
  margin-bottom: 20px;
}


